.horizontalScroll { /* 1 */
    display: inline-flex; /* 1 */
    overflow: auto; /* 1 */
    box-sizing: border-box; /* 1 */
}

.image { /* 1 */
    width: 100vw; /* 1 */
}

.center { /* 1 */
    display: block; /* 1 */
    position: sticky; /* 1 */
    left: 0; /* 1 */
    width: 100vw; /* 1 */
    text-align: center; /* 1 */
    padding-bottom: 20px; /* 1 */
}

.title { /* 1 */
    font-size: 1.5em; /* 1 */
    padding: 20px; /* 1 */
}

button { /* 1 */
    font-size: 2em; /* 1 */
}

/* 18 */
