header { /* 1 */
    display: grid; /* 1 */
    display: -moz-grid; /* 1 */
    display: -ms-grid; /* 1 */
    grid-template-columns: min-content auto; /* 1 */
    grid-template-rows: auto; /* 1 */
    position: sticky; /* 1 */
    top: 0; /* 1 */
    height: 50px; /* 1 */
    background-color: white; /* 1 */
    border-bottom: 1px solid black; /* 1 */
}

header * { /* 1 */
    margin-top: auto; /* 1 */
    margin-bottom: auto; /* 1 */
}

h1 { /* 1 */
    margin-left: 20px; /* 1 */
    margin-top: auto; /* 1 */
    margin-bottom: auto; /* 1 */
}

/* 18 */
